# Core
Flask==1.1.4
Flask-SocketIO==4.3.2
python-socketio==4.6.1
python-engineio==3.13.2

# Async stack
eventlet==0.30.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.16

# MongoDB
pymongo==3.7.2
Flask-PyMongo==2.3.0
dnspython==1.16.0

# Other dependencies
pytz==2021.1
click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
certifi==2021.10.8
requests==2.27.1
six==1.16.0
urllib3==1.26.20
